<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Admin: Add New Data</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
  <link rel="stylesheet" href="./style.css">

</head>

<body>
  <!-- partial:index.partial.html -->
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <style>
      .car-image{
        width: 200px;
        border-radius: 10px;
      }
      .car-header{
        display: flex;
        justify-content: space-between;
      }
      .header-right{
        align-items: baseline;
        font-size: 14px;
        
      }
      .header-right .item{
        display: flex;
        color: grey;
        justify-content: space-between;
      }

      progress{
       
        width: 70px;
      }
      .action-row{
        display: flex;
        justify-content: space-between;
      }
      .logo img{
    width: 70px;
    border-radius: 70%;
  }
  .logo{
    margin-right: 10px;
  }
    </style>
  </head>

  <body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="logo">
        <a href="/admin"><img src="/assets/img/logo/logo.png" alt=""></a>
    </div>
      <a class="navbar-brand"  href="/admin/">Automotive Finder Admin</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <a class="nav-link" href="/admin/">
              <i class="fa fa-fw fa-dashboard"></i>
              <span class="nav-link-text">Trending</span>
            </a>
          </li>
          <h5 class ="nav-title">CAR MANAGAEMENT</h5>
          <li class="nav-item nav-item-active" data-toggle="tooltip" data-placement="right" title="Charts">
            <a class="nav-link" href="/admin/cars">
              <i class="fa fa-fw fa-area-chart"></i>
              <span class="nav-link-text">Cars</span>
            </a>
          </li>
  
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
            <a class="nav-link" href="/admin/addCar">
              <i class="fa fa-fw fa-table"></i>
              <span class="nav-link-text">Add Car</span>
            </a>
          </li>

        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/admin/logout" data-toggle="modal" data-target="#exampleModal">
              <i class="fa fa-fw fa-sign-out"></i>Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="content-wrapper">
      
      <div class="container-fluid">
        <% if(msg) { %>
          <h3 style="color: #17b978;" class="text-center"><%=msg%></h3><br>
          <%   } %>
          <% if(err) { %>
          <h3 style="color: #ff304f;" class="text-center"><%=err%></h3><br>
          <%   } %>
          
        <div class="row">
          
          <div class="col-lg-4  ">
            
            <br/>
            <div class="car-header">
              <div class="header-left">
                <img class="car-image" src="<%=car.image%>" alt="image">
              </div>
              <div class="header-right">
                <div class="item">
                <label for="file">Reliability</label>
                <progress   value="<%=car.reliability%>" max="10">  </progress>
                </div>
                <div class="item">
                <label for="file">Economy</label>
                <progress   value="<%=car.economy%>" max="10">  </progress>
                </div>
                <div class="item">
                <label for="file">Perfromance</label>
                <progress   value="<%=car.perfromance%>" max="10">  </progress>
                </div>
                <div class="item">
                <label for="file">Maintenance</label>
                <progress   value="<%=car.maintenance%>" max="10">  </progress>
                </div>
                <div class="item">
                <label for="file">Luxury</label>
                <progress   value="<%=car.luxury%>" max="10">  </progress>
                </div>
                <div class="item">
                  <label for="file">Utility</label>
                  <progress   value="<%=car.Utility%>" max="10">  </progress>
                </div>

              </div>
            </div>
            
            <br>
            <br>
           <form class="view-room" action="/admin/updateCar" method="POST">
            <p>Make</p>
            <input type="text" class="form-control" name="make" value="<%=car.make%>" >
            <p>Model</p>
            <input type="text" class="form-control" name="model" value="<%=car.model%>" >
            <p>Type</p>
            <input type="text" class="form-control" name="type"  value="<%=car.type%>">
            <p>Transmission</p>
            <input type="text" class="form-control" name="transmission"  value="<%=car.transmission%>">
          
       
          </div>
          <div class="col-lg-2 "></div>
          <div class="col-lg-4  occupant">
            <br/>


            <p>Fuel</p>
            <input type="text" class="form-control" name="fuel"  value="<%=car.fuel%>">
            <p>Seats</p>
            <input type="number" class="form-control" name="seats"  value="<%=car.seats%>">
            <p>Consumption</p>
            <input type="number" class="form-control" name="consumption"  value="<%=car.consumption%>">
            <p>price</p>
            <input type="number" class="form-control" name="price"  value="<%=car.price%>">
            <p>Year</p>
            <input type="text" class="form-control" name="year" value="<%=car.year%>">

            <input type="hidden" class="form-control" name="id" value="<%=car.id%>">
            <br>
            <br>
            <div class="action-row">


             

              <input type="submit" class="btn btn-lg btn-success mt-3 add-room-btn" value="Update">
            </div>
           
          </form>
          <form id="delForm" action="/admin/deleteCar" method="POST">
            <input type="hidden" class="form-control" name="id" value="<%=car.id%>">
            <input type="button" onclick="submitDelete()" class="btn btn-lg btn-danger mt-3 add-room-btn" value="Delete">
          </form>
          </div>
        </div>
        

      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>2022 Copyright © Automotive Finder. All Rights Reserved.</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/admin/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="js/sb-admin-datatables.min.js"></script>
    <script src="js/sb-admin-charts.min.js"></script>
    <script>

      </script>
  </body>

  </html>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script>
    function submitDelete(){
      document.getElementById("delForm").submit();
     
    }
  </script>
</body>

</html>