<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Automitive Finder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/gijgo.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<style>
    .comparison{
    background-color: rgb(37, 37, 73);
  padding: 20px;
  color: white;

    }
    .btn-warning{
        background-color: rgb(65, 55, 38);
    }
    .btn-warning:hover{
        background-color: rgb(122, 83, 9);
    }
    .car-img{
        object-fit: cover;
    }
    #toast {
        position: fixed; z-index: 99;
        top: 100px; right: 5px;
        width: 200px;
        padding: 10px;
        border: 1px solid #c1cafc;
        border-radius: 5px;
        color: white;
        background: #e4a228;
        border: 1px solid rgb(221, 221, 221);
        display: none;
        animation-duration: 2s;
        font-size: 12px;
    }

    .logo a{
    color: purple;
    font-weight: bold;
}
.btn-cart{
    height: 50px;
    padding: 15px;
}
.btn-cart i{
    font-size: 20px;
}
.single-room{
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: space-between;

    box-shadow: none;
    border-bottom: 1px solid rgb(243, 243, 243);
}
.single-room:hover{
    border: none;
    transform: none;
}
.room-caption{
    width: 50%;
    border: none;
}

.room-img img{
    height: 100px;
    width: 100px;
}
.summary{
    margin-top: 100px;
}
.summary .total{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(243, 243, 243);
    margin-bottom: 100px;

}
.btn-warning{
        background-color: rgb(155, 26, 127);
        margin-bottom: 10px;
    }
    .btn-warning:hover{
        background-color: rgb(103, 9, 122);
    }
</style>
<body>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <strong>Loading</b>
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
        <div class="header-area header-sticky">
            <div class="main-header ">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="/"><img src="/assets/img/logo/logo.png" alt="">Flora Joy</a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
                            <!-- main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/">Home</a></li>                                      
                                      
                                        
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                        <% if(user==null) { %>
                                            <a href="/login">
                                                <input type="submit" class="btn btn-login" value="Login">
                                                </a>
                                      <%   }else{ %>
                                        <a href="/account">
                                            <input type="submit" class="btn btn-login" value="Account">
                                            </a>
                                            <a href="/cart">
                        
                                                <button class="btn btn-cart"><i class="fa fa-shopping-cart"></i></button>
                                                </a>
                                        <% }%>
                                        
                                    
                                    </ul>
                                    
                                </nav>
                           
                                
                            </div>
                        </div>
                    
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>


        <!-- Room Start -->
        <section class="room-area">
            <div id="toast" onclick="this.style.display='none'"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-lg-12 col-sm-12 col-12">
                        <!--font-back-tittle  -->
                        <div class="font-back-tittle mb-45">
                            <div class="archivment-front">
                                <h3>Cart</h3>
                            </div>
                            <h3 class="archivment-back">Popular matches</h3>
                        </div>
                    </div>
                    
                        
                   
                    <% if(flowers.length) { %>
                        
                        <% for(i=0;i<flowers.length;i++){  %>
                            
    
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <!-- Single Room -->
                                <form action="/view" method="POST">
                           
        
                                    <input id="carId" type="text" name="flowerId" value="<%=flowers[i].id%>" hidden>
                                    
                                    <div class="single-room mb-50">
                                        <div class="id"><%=i+1%></div>
                                        <div class="room-img p-2">        
                                                <a href="#"><img class="car-img" src="<%=flowers[i].image%>" alt="" height="200px"></a>
                                        </div>
                                      
                                        <div class="room-caption ">
        
                                           
                                            <h3><%=flowers[i].name%></h3>
                                            <h5><%=flowers[i].type%></h5>

                                            
                                        </div>
                                      <div class="pricing">
                                          
                                        <div class="per-night">
                                            <span>ksh. <%=flowers[i].price%> </span>
                                        </div>
                                      </div>

                                    </div>
        
                            
                            </form>
                        </div>
                        
                        <% } %>
                        <br>
                        <br>
                        <div class="summary col-12">
                            <h2>Order Summary</h2>
                            <p><%=flowers.length%> Items</p>
                            <div class="total">
                                <h3>Total</h3>
                                <form action="/postOrder" method="POST" id=checkoutForm>
                                    <input id="flowers-value" name="items" value="<%=items%>" hidden>
                                    <input name="total" value=" <%=total%>" hidden>
                                  
                                    <button type="submit" class="btn btn-warning" onclick="checkout()">Checkout Ksh.<%=total%></button>
                                </form>
                                
                            </div>
                        </div>
                        <br>
                     

                        <% } else{  %>
                      <br>
                    
                <div class="col-lg-12 col-md-12 col-sm-12">
                      <h2 style="color: #ff304f;" class="text-center mt-5 mb-5">No items in cart</h2>
                </div>
                    <br>
                    <%  }  %>
                
                </div>
            </div>
            
        </section>
        <!-- Room End -->
    </main>
    <div id="toast" onclick="this.style.display='none'"></div>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html"><img src="/assets/img/logo/logo.png" alt=""></a>
                            </div>
                            <div class="footer-social footer-social2">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                            </div>
                            <div class="footer-pera">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved |
                                    Automotive Finder<i class="ti-heart" aria-hidden="true"></i>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="#">About Flora Joy </a></li>
                                    <li><a href="#">Our Best Offers</a></li>
                                    <li><a href="#">Our Customers</a></li>
                                    <li><a href="#">Car Service</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>Info</h4>
                                <ul>
                                    <li><a href="#">Tel: 453-3251</a></li>
                                    <li><a href="#">Phone No: 0712563251</a></li>
                                    <li><a href="#">Skype: AutomitiveFinder</a></li>
                                    <li><a href="#">info@automotivefinder.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4  col-sm-5">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>Our Location</h4>
                                <ul>
                                    <li><a href="#">Nairbi Kenya</a></li>
                                    <li><a href="#">Moi Avaenue, Kimathi House 4th floor</a></li>
                                </ul>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank"
                                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                            method="get" class="subscribe_form relative mail_part">
                                            <input type="email" name="email" id="newsletter-form-email"
                                                placeholder="Email Address" class="placeholder hide-on-focus"
                                                onfocus="this.placeholder = ''"
                                                onblur="this.placeholder = ' Email Address '">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit"
                                                    class="email_icon newsletter-submit button-contactForm"><img
                                                        src="/assets/img/logo/form-iocn.jpg" alt=""></button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

    <!-- JS here -->

    <!-- All JS Custom Plugins Link Here here -->
    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>

    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <!-- Date Picker -->
    <script src="./assets/js/gijgo.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="./assets/js/jquery.scrollUp.min.js"></script>
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>
    <script>
        function checkout(){
            localStorage.setItem('cart',0);
            var field = document.getElementById('cart-values');
            
            var form = document.getElementById('checkoutForm');
            console.log(field.value)
            
            
        }

        
    </script>

</body>

</html>
